.vs/
DungeonCrawlerWorld/bin/
DungeonCrawlerWorld/Content/obj/DesktopGL/net6.0/Content/.mgstats
DungeonCrawlerWorld/obj/Debug/net6.0/apphost.exe
DungeonCrawlerWorld/obj/Debug/net6.0/DungeonCrawlerWorld.dll
DungeonCrawlerWorld/obj/Debug/net6.0/DungeonCrawlerWorld.pdb
DungeonCrawlerWorld/obj/Debug/net6.0/DungeonCrawlerWorld.sourcelink.json
DungeonCrawlerWorld/obj/Debug/net6.0/ref/DungeonCrawlerWorld.dll
DungeonCrawlerWorld/obj/Debug/net6.0/refint/DungeonCrawlerWorld.dll
