.vs/
DungeonCrawlerWorld/bin/
DungeonCrawlerWorld/Content/obj/DesktopGL/net6.0/Content/.mgstats
DungeonCrawlerWorld/obj/Debug/net6.0/apphost.exe
DungeonCrawlerWorld/obj/Debug/net6.0/DungeonCrawlerWorld.dll
DungeonCrawlerWorld/obj/Debug/net6.0/DungeonCrawlerWorld.pdb
DungeonCrawlerWorld/obj/Debug/net6.0/DungeonCrawlerWorld.sourcelink.json
DungeonCrawlerWorld/obj/Debug/net6.0/ref/DungeonCrawlerWorld.dll
DungeonCrawlerWorld/obj/Debug/net6.0/refint/DungeonCrawlerWorld.dll
/DungeonCrawlerWorld/obj/Debug/net9.0/ref/DungeonCrawlerWorld.dll
/DungeonCrawlerWorld/obj/Debug/net9.0/refint/DungeonCrawlerWorld.dll
/DungeonCrawlerWorld/obj/Debug/net9.0/apphost.exe
/DungeonCrawlerWorld/obj/Debug/net9.0/DungeonCrawlerWorld.AssemblyInfo.cs
/DungeonCrawlerWorld/obj/Debug/net9.0/DungeonCrawlerWorld.AssemblyInfoInputs.cache
/DungeonCrawlerWorld/obj/Debug/net9.0/DungeonCrawlerWorld.dll
/DungeonCrawlerWorld/obj/Debug/net9.0/DungeonCrawlerWorld.pdb
/DungeonCrawlerWorld/obj/Debug/net9.0/DungeonCrawlerWorld.sourcelink.json
/DungeonCrawlerWorld/obj/Debug/net9.0/DungeonCrawlerWorld.csproj.CoreCompileInputs.cache
/DungeonCrawlerWorld/obj/Release/net9.0
